<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light mt-3 pt-5">

  <div class="container ">

    <div class="row align-items-center">

      <div class="col-md-12 py-3">
        <div class="text-center">

          <!--Linkedin -->
          <a href="#" class="px-2">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Instagram-->
          <a class="px-2">
            <i href="#" class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Github-->
          <a class="px-2">
            <i href="#" class="fab fa-github fa-lg white-text fa-2x"></i>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="#" class="text-decoration-none"> m-gaia | Portfolio</a>
  </div>
  
</footer>

