<div class="row main-container font1">
    <div class="d-grid gap-2 col-lg-12 mx-auto py-2">
        <div id="educacion" class="card-header bg-dark py-3 blockquote">
            <h2 class="text-light text-uppercase card-title"><i class="fas fa-graduation-cap px-2"></i>Educación</h2>
        </div>
        <div class="text-center py-2">
            <button type="button" class="btn btn-success" (click)="onOpenModal('agregar')">
                <a class="nav-link text-light">
                    + Añadir <span class="sr-only">(current)</span>
                </a>
            </button>
        </div>
    </div>
</div>
<div id="main-container">
  <div *ngFor="let educacion of educaciones" class="col-lg-12 py-2">
    <div class="container card rounded-start py-2 font1">
        <div class="row align-items-center" >
            <div class="col-12 mb-3">
                <img src="{{educacion.imgEdu}}"  alt="" width="200">
            </div>
            <div class="col">
                <h4>{{educacion.tituloEdu}}</h4>
            </div>
            <div class="col text-muted">
                <h5>|  {{educacion.fechaInicioEdu}} - {{educacion.fechaFinEdu}}</h5>
            </div>
            <div class="col text-center">
                <a 
                (click)="onOpenModal('actualizar', educacion)"
                class="btn btn-primary tooltips mx-2"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Actualizar"
                ><i class="fas fa-edit"></i>
                </a>
                <a 
                (click)="onOpenModal('eliminar', educacion)"
                class="btn btn-secondary tooltips mx-2"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Eliminar"
                ><i class="fas fa-trash-alt"></i>
                </a>
            </div>
        <div class="row col-12 card-subtitle py-4 text-muted">
            <h5>{{educacion.descripcionEdu}}</h5>
        </div>
    </div>
  </div>
</div>

<!-- Modal Añadir Educacion -->

<div 
    class="modal fade" 
    id="agregarEducacionModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="agregarEducacionModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarEducacionModalLabel">Añadir Educación</h5>
            </div>
            <div class="modal-body font1">
                <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
                    <div class="form-group my-2">
                        <label for="tituloEdu">Titulo</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="tituloEdu" 
                        class="form-control" 
                        id="tituloEdu" 
                        placeholder="Titulo" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="nombreEdu">Institución</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="nombreEdu" 
                        class="form-control" 
                        id="nombreEdu" 
                        placeholder="Institución" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaInicioEdu">Inicio</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="fechaInicioEdu" 
                        class="form-control" 
                        id="fechaInicioEdu" 
                        placeholder="Año Inicio (YYYY)" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaFinEdu">Fin</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="fechaFinEdu" 
                        class="form-control" 
                        id="fechaFinEdu" 
                        placeholder="Año Fin (YYYY)" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="descripcionEdu">Descripción</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="descripcionEdu" 
                        class="form-control" 
                        id="descripcionEdu" 
                        placeholder="Descripción" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="imgEdu">URL Imágen</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="imgEdu" 
                        class="form-control" 
                        id="imgEdu" 
                        placeholder="Logo Institución" 
                        required>
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button" 
                        id="add-education-form" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                        [disabled]="addForm.invalid" 
                        type="submit" 
                        class="btn btn-primary"> 
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<!-- Modal Editar Educacion -->

<div 
    class="modal fade" 
    id="actualizarEducacionModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="actualizarEducacionModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarEducacionModalLabel">
                    Editar Educación {{actualizarEducacion?.tituloEdu}}
                </h5>
            </div>
            <div class="modal-body font1">
                <form #editForm="ngForm">
                    <div class="form-group my-2">
                        <label for="tituloEdu">Titulo</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarEducacion?.tituloEdu}}"
                        name="tituloEdu" 
                        class="form-control" 
                        id="tituloEdu" 
                        aria-describedby="emailHelp"
                        placeholder="Titulo" 
                        >
                    </div>
                    <input 
                    type="hidden" 
                    ngModel="{{actualizarEducacion?.idEdu}}"
                    name="idEdu" 
                    class="form-control" 
                    id="idEdu" 
                    placeholder="" 
                    >
                    <div class="form-group my-2">
                        <label for="nombreEdu">Institución</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarEducacion?.nombreEdu}} "
                        name="nombreEdu" 
                        class="form-control" 
                        id="nombreEdu" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaInicioEdu">Año Inicio</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarEducacion?.fechaInicioEdu}} " 
                        name="fechaInicioEdu" 
                        class="form-control" 
                        id="fechaInicioEdu" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaFinEdu">Año Fin</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarEducacion?.fechaFinEdu}} "
                        name="fechaFinEdu" 
                        class="form-control" 
                        id="fechaFinEdu" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="descripcionEdu">Descripción</label>
                        <input 
                        type="text" 
                        ngModel ngModel="{{actualizarEducacion?.descripcionEdu}}"
                        name="descripcionEdu" 
                        class="form-control" 
                        id="descripcionEdu" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="imgEdu">URL Imágen</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarEducacion?.imgEdu}}"
                        name="imgEdu" 
                        class="form-control" 
                        id="imgEdu" 
                        placeholder="" 
                        >
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button" 
                        id="" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                        (click)="onUpdateEducacion(editForm.value)" 
                        data-dismiss="modal" 
                        class="btn btn-primary"> 
                            Guardar 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<!-- Modal Eliminar una Educacion -->

<div 
    class="modal fade" 
    id="eliminarEducacionModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="eliminarEducacionModalLabel" 
    aria-hidden="true"
    data-bs-toggle="modal"
    data-bs-target="#eliminarEducacionModalLabel"
    >

    <div class="modal-dialog" role="document">
        <div class="modal-content font1">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarEducacionModalLabel">Eliminar Educación</h5>
            </div>
            <div class="modal-body">
                <p>
                    ¿Estas seguro de eliminar Educación {{eliminarEducacion?.tituloEdu}}?
                </p>
                <div class="modal-footer">
                    <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    >
                        No
                    </button>
                    <button
                    (click)="onDeleteEducacion(eliminarEducacion!.idEdu)"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    >
                        Si
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Alerta No existen Educaciones -->

<div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-xl-12"> 
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No existen Educaciones</h4>
        <p>Educaciones no encontradas.</p>
    </div>
</div>

