<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark font1 fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-left">
            <a class="navbar-brand" href="#">
                <img
                src="assets/images/ag3.png"
                alt="logo"
                height="30"
                width="30"
                class="d-inline-block align-top rounded-circle"
                />
                <h6 class="mx-2 d-inline-block">
                    ARGENTINA PROGRAMA<small class="text-muted">| #YoProgramo</small>
                </h6>
            </a>

        </div>
        <div class="row justify-content-right mx-1">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="row justify-content-right mx-1">
            <div class="navbar-collapse collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Portfolio</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="#educacion"><i class="fas fa-graduation-cap px-1"></i
                                >Educación</a>
                            <a class="dropdown-item" href="#experiencia"><i class="fas fa-briefcase px-1"></i
                                >Experiencia</a>
                            <a class="dropdown-item" href="#habilidades"><i class="fas fa-heart px-1"></i
                                >Habilidades</a>
                            <a class="dropdown-item" href="#proyectos"><i class="fas fa-laptop-code px-1"></i
                                >Proyectos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-1x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i href="#" class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-1x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i href="#" class="fab fa-github fa-lg white-text fa-1x"></i></a>
                    </li>
                    <button
                    type="button"
                    class="btn btn-sm btn-outline-dark bg-secondary text-white py-1 my-1 mx-2 rounded-pill border-2 text-uppercase"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-whatever="@getbootstrap"
                    >
                    <strong>LOGIN</strong>
                    </button>
                </ul>
            </div>
        </div>
    </div>
</nav>
