
<div id="main-container">
    <div *ngIf="usuario">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-12 px-0">
                    <div>
                        <img
                            src="assets/images/banner.png"
                            alt="banner"
                            class="d-inline-block img-fluid w-100"
                        />
                        <div class="pt-1">
                            <a 
                            (click)="onOpenModal('actualizar', usuario)"
                            class="btn btn-primary tooltips mx-2 right-btn float-end"
                            data-placement="top"
                            data-toggle="tooltip"
                            data-original-title="Actualizar"
                            ><i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container card border-light py-3 mb-3 font1" >
            <div class="row">
                <div class="col-12">
                    <div
                    class="col-lg-12 col-md-12 position-absolute top-0 start-50 translate-middle"
                    >
                        <img
                            src="{{usuario.img}}"
                            alt="logo"
                            width="140"
                            height="150"
                            class="d-inline-block rounded-circle superponer mx-3 mb-5"
                        />
                    </div>
                    <div class="col-lg-6 col-md-6 py-2 mx-auto text-center">
                        <div class="row align-items-center">
                            <div class="col-10">
                                <h1 class="fw-light">
                                    <strong>{{usuario.nombre}} {{usuario.apellido}}</strong>
                                </h1>
                                <h2 class="lead fw-light text-muted py-2">
                                    {{usuario.titulo}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3 row card text-muted">
                    <div class="col-lg-12 align-items-center">
                        <h5 class="text-center">{{usuario.descripcion}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Usuario -->

<div 
    class="modal fade" 
    id="actualizarUsuarioModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="actualizarUsuarioModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarUsuarioModalLabel">
                    Editar Usuario {{actualizarUsuario?.nombre}} {{actualizarUsuario?.apellido}}
                </h5>
            </div>
            <div class="modal-body font1">
                <form #editForm="ngForm">
                    <div class="form-group my-2">
                        <label for="nombre">Nombre</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.nombre}}"
                        name="nombre" 
                        class="form-control" 
                        id="nombre" 
                        aria-describedby="emailHelp"
                        placeholder="" 
                        >
                    </div>
                    <input 
                    type="hidden" 
                    ngModel="{{actualizarUsuario?.id}}"
                    name="id" 
                    class="form-control" 
                    id="id" 
                    placeholder="" 
                    >
                    <div class="form-group my-2">
                        <label for="apellido">Apellido</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.apellido}} "
                        name="apellido" 
                        class="form-control" 
                        id="apellido" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="titulo">Titulo</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.titulo}} " 
                        name="titulo" 
                        class="form-control" 
                        id="titulo" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaNac">Fecha de Nacimiento</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.fechaNac}} "
                        name="fechaNac" 
                        class="form-control" 
                        id="fechaNac" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="telefono">Teléfono</label>
                        <input 
                        type="text" 
                        ngModel ngModel="{{actualizarUsuario?.telefono}}"
                        name="telefono" 
                        class="form-control" 
                        id="telefono" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="descripcion">Descripción</label>
                        <input 
                        type="text" 
                        ngModel ngModel="{{actualizarUsuario?.descripcion}}"
                        name="descripcion" 
                        class="form-control" 
                        id="descripcion" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="img">URL Imágen</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.img}}"
                        name="img" 
                        class="form-control" 
                        id="img" 
                        placeholder="" 
                        >
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button"  
                        id="add-header-form" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                        (click)="onUpdateUsuario (editForm.value)" 
                        data-dismiss="modal" 
                        class="btn btn-primary"> 
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
